<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--<system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" 
          cacheMemoryLimitMegabytes="10" 
          physicalMemoryLimitPercentage="0"
          pollingInterval="00:00:05" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>-->
</configuration>
